{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <div id="page-top">
            <div id="wrapper">
                {% include './includes/nav.html' %}
                <div class="container-fluid">
                    <div class="text-center mt-5">
                        <div class="error mx-auto" data-text="404">
                            <p class="m-0">404</p>
                        </div>
                        <p class="text-dark mb-5 lead">Page non trouvée</p>
                        <p class="text-black-50 mb-0">Il semble que vous ayez trouvé un bug dans la matrice...</p><a href="/">← Retour au tableau de bord</a>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2022 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% endblock %}