{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <div id="page-top">
            <div id="wrapper">
                {% include './includes/nav.html' %}
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <h3 class="text-dark mb-4">Utilisateurs</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Informations des utilisateurs</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Nom complet</th>
                                            <th>Email</th>
                                            <th>Utilisateur</th>
                                            <th>ID</th>
                                            <th>Détails</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%if technicien%}
                                            {%for x in all_account%}
                                            <tr>
                                                <td><img class="rounded-circle me-2" width="30" height="30" src="{{ url_for('static', filename=session['profilepic']) }}">{{x.lastname}} {{x.firstname}}</td>
                                                <td>{{x.email}}</td>
                                                <td>{{x.username}}</td>
                                                <td>{{x.id}}</td>
                                                <th><form class="user" action="{{ url_for('Fprofile.profile_tech') }}" method="get" enctype="multipart/form-data"><button class="btn btn-primary btn-sm" type="submit" name="user_id" value="{{x.id}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Voir plus</button></form></th>
                                            </tr>
                                            {%endfor%}
                                        {% else %}
                                            {%for x in all_account%}
                                            <tr>
                                                <td>{{x.lastname}} {{x.firstname}}</td>
                                                <td>{{x.email}}</td>
                                                <td>{{x.username}}</td>
                                                <td>{{x.id}}</td>
                                                <th><form class="user" action="{{ url_for('Fprofile.profile_empl') }}" method="get" enctype="multipart/form-data"><button class="btn btn-primary btn-sm" type="submit" name="user_id" value="{{x.id}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Voir plus</button></form></th>
                                            </tr>
                                            {%endfor%}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <!--<div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2023 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        {% endblock %}