{% extends 'home/layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <h3 class="text-dark mb-4" style="margin-top: 24px;">Post de travail {{ device['node'] }}</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Informations principales</p>
                                        </div>
                                        <div class="card-body">
                                            <fieldset disabled>
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" ><strong>Hôte</strong></label><input class="form-control" type="text" placeholder="{{ device['node'] }}" ></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" ><strong>Système</strong><br></label><input class="form-control" type="text" placeholder="{{ device['system'] }}" ></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" ><strong>Adresse IP</strong></label><input class="form-control" type="text" placeholder="{{ device['ip'] }}" ></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" ><strong>MAC</strong><br></label><input class="form-control" type="text" placeholder="{{ device['mac'] }}" ></div>
                                                    </div>
                                                </div>
                                            </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Informations technique</p>
                                        </div>
                                        <div class="card-body">
                                            <fieldset disabled>
                                            <form>
                                                <div class="mb-3"><label class="form-label" ><strong>Processeur</strong></label><input class="form-control" placeholder="{{ device['processor'] }}" type="text" /></div>
                                                <div class="mb-3"><label class="form-label" ><strong>RAM totale</strong></label><input class="form-control" placeholder="{{ device['ram_tot'] }} GB" type="text" /></div>
                                                <div class="mb-3"><label class="form-label" ><strong>Disque utilisé</strong></label><input class="form-control" placeholder="{{ device['disk_us'] }} GB" type="text" /></div>
                                                <div class="mb-3"><label class="form-label" ><strong>Disque totale</strong></label><input class="form-control" placeholder="{{ device['disk_tot'] }} GB" type="text" /></div>
                                            </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2023 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% endblock %}