{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<body id="page-top">
    <div id="wrapper">
        {% include './includes/nav.html' %}
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <div id="alert-network-analyse" style="display:none;" class="container p-2">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Veuillez attendre que l'analyse complète se fasse ( le temps varie en fonction des machines dans votre réseau )
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div id="alert-requete" style="display:none;" class="container p-2">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Requête en cours ...
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <h3 class="text-dark mb-4">Découverte réseau</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Découverte du réseau</h6>
                                </div>
                                <div class="card-body">
                                    <form action="{{ url_for('Fdevice.reseau_update') }}" method="post">
                                        <div class="small"><label class="form-label mb-3" for="signature"><strong>Adresse réseau</strong><br></label><input class="form-control mb-3" id="network" rows="1" name="network" style="overflow:auto;resize:none" placeholder="192.168.1.0/24"></input></div>
                                        <div class="small"><button onclick="$('#alert-network-analyse').show();" class="btn btn-primary btn-sm mb-3" type="submit"><i class="fas fa-search fa-sm text-white-50"></i> Analyser</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary fw-bold m-0">Machines disponnible</h6>
                                            <h6 class="text-gray m-0"><b>Dernier scan :</b> {{ info['last_scan'] }}</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>IP</th>
                                                            <th>Port</th>
                                                            <th>Détails</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for x in network_device%}
                                                        <tr>
                                                            <td>{{x.host}}</td>
                                                            {%if x.port_state == "open"%}
                                                            <td style="font-weight: bold;color: var(--bs-success);" >Ouvert</td>
                                                            {%else%}
                                                            <td style="font-weight: bold;color: var(--bs-danger);" >Fermer</td>
                                                            {%endif%}
                                                            {%if x.port_state == "open"%}
                                                            <td>Agent disponnible</td>
                                                            {%else%}
                                                            <td>Indisponnible</td>
                                                            {%endif%}
                                                            {%if x.port_state == "open"%}
                                                                {%if x.control == "True"%}
                                                                <th><form class="user" action="{{ url_for('Fdevice.poste_upd')}}" method="get" enctype="multipart/form-data"><button onclick="$('#alert-requete').show();" class="btn btn-primary btn-sm" type="submit" name="host" value="{{x.host}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Actualiser</button></form></th>
                                                                {%else%}
                                                                <th><form class="user" action="{{ url_for('Fdevice.poste_add') }}" method="get" enctype="multipart/form-data"><button onclick="$('#alert-requete').show();" class="btn btn-primary btn-sm" type="submit" name="host" value="{{x.host}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Ajouter</button></form></th>
                                                                {%endif%}
                                                            {%else%}
                                                            {%endif%}
                                                            <!--<th><form class="user" action="{{ url_for('Fdevice.device') }}" method="get" enctype="multipart/form-data"><button class="btn btn-primary btn-sm" type="submit" name="device_id" value="{{x.id}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Voir plus</button></form></th>-->
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <!--<div class="col-md-6 align-self-center">
                                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                        <ul class="pagination">
                                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2023 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}