{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <div id="page-top">
            <div id="wrapper">
                {% include './includes/nav.html' %}
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <h3 class="text-dark mb-4">Switchs</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Tout les switchs</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Switch</th>
                                            <th>Marque / Modèle</th>
                                            <th>Location</th>
                                            <th>Détails</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for x in all_switchs%}
                                        <tr>
                                            <td>{{x.id}}</td>
                                            <th>{{x.name}}</th>
                                            <td>{{x.marque}}  {{x.modele}}</td>
                                            <td>{{x.location}}</td>
                                            <th><form class="user" action="{{ url_for('Fdevice.switch') }}" method="get" enctype="multipart/form-data"><button class="btn btn-primary btn-sm" type="submit" name="switch_id" value="{{x.id}}"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Voir plus</button></form></th>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2023 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        {% endblock %}