
{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div id="page-top">
    <div id="wrapper">
        {% include './mobile/nav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
            {% include "includes/alert.html" %}
            <h3 class="text-dark mb-4">Créer un ticket</h3>
            <div class="row mb-4">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-success m-0 fw-bold">Formulaire de création</p>
                                </div>
                                <div class="card-body">
                                    <form action="{{ url_for('Fticket.create_ticket') }}" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="username"><strong>Utilisateur</strong></label><input disabled class="form-control" type="text" id="username" value="{{ session['username'] }}" name="username"></div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3"><label class="form-label" for="limite"><strong>Date limite</strong></label><input class="form-control" type="date" id="limite" name="limite" data-date-format="DD/MMMM/YYYY" min="03/01/2023" max="10/01/2023"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="post"><strong>Post de travail</strong></label>
                                                    <select class="form-select" name="device_id">
                                                            <option value="" selected disabled hidden>Votre choix</option>
                                                            {%for x in device%}
                                                                <option value="{{x.id}}">{{x.node}}</option>
                                                            {%endfor%}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="objet"><strong>Objet</strong></label>                                                    
                                                    <select class="form-select" name="objet">
                                                            <option value="" selected disabled hidden>Votre choix</option>
                                                            <option value="Panne de matériel">Panne de matériel</option>
                                                            <option value="Virus ou logiciels malveillants">Virus ou logiciels malveillants</option>
                                                            <option value="Problèmes de réseau">Problèmes de réseau</option>
                                                            <option value="Erreurs de logiciel">Erreurs de logiciel</option>
                                                            <option value="Problèmes de sécurité">Problèmes de sécurité</option>
                                                            <option value="Défaillance de la plateforme">Défaillance de la plateforme</option>
                                                            <option value="Manque de capacité de stockage">Manque de capacité de stockage</option>
                                                            <option value="Problèmes de compatibilité">Problèmes de compatibilité</option>
                                                            <option value="Autres (dans la description)">Autres (dans la description)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="desc"><strong>Description</strong></label><textarea class="form-control" name="desc" id="desc" style="height: 175px;"></textarea></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-dark btn-sm" type="submit">Envoyer</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2022 Fait avec Bootstrap</span></div>
        </div>
    </footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        {% endblock %}