<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-primary" style="background: var(--bs-teal);">
    <div class="container">
    {% include "includes/alert.html" %}
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;../static/img/reset.png&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Mot de passe oublié ?</h4>
                                        <p class="mb-4">Entrer ci-dessous votre adresse email afin de remettre à zéro votre mot de passe.</p>
                                    </div>
                                    <form class="user" action="{{ url_for('Fauth.forgot_password') }}" method="post">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" aria-describedby="email" placeholder="Email" name="email"></div><button class="btn btn-dark d-block btn-user w-100" type="submit">Envoyer</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small link-success" href="{{ url_for('Fauth.login_empl') }}">Vous êtes ici par erreur ? Connexion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>