{%for tk in all_tickets%}
<a class="dropdown-item d-flex align-items-center" href="/ticket?ticket_id={{tk.id}}">
    <div class="text-warning d-xxl-flex justify-content-xxl-center align-items-xxl-center dropdown-list-image me-3"><i class="fas fa-user-alt" style="font-size: 25px;"></i></div>
    <div class="fw-bold">
        <div class="text-truncate"><span>{{tk.objet}}</span></div>
        <p class="small text-gray-500 mb-0">{{tk.user}} - Priorité : {{ tk.priorite }}</p>
    </div>
</a>
{%endfor%}