{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<body id="page-top">
    <div id="wrapper">
        {% include './includes/nav.html' %}
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <h3 class="text-dark mb-4"><a class="btn btn-primary btn-sm" href="{{ url_for('Fticket.tickets') }}"><i class="fas fa-chevron-left fa-sm text-white-50"></i> Retour</a> Ticket de <b>{{ ticket['user'] }}</b></h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Ticket ID°{{ ticket['id'] }}</h6>
                                </div>
                                <div class="card-body">
                                    <form action="{{ url_for('Fticket.delete_ticket') }}" method="get" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" ><strong>Date de création</strong></label><input disabled class="form-control" type="text" placeholder="{{ creation }}" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" ><strong>Priorité</strong></label><input disabled class="form-control" type="text" placeholder="{{ ticket['priorite'] }}" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" ><strong>Pris en charge</strong></label><input disabled class="form-control" type="text" placeholder="{{ ticket['encharge'] }}" /></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% if delete %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Suppresion du ticket</h6>
                                </div>
                                <div class="card-body">
                                    <form action="{{ url_for('Fticket.delete_ticket') }}" method="get" enctype="multipart/form-data">
                                        <div class=""><label class="form-label mb-3" for="signature"><strong>Supprimer le tickets ainsi que toutes ces informations.</strong><br></label></div>
                                        <div class="small"><button class="btn btn-danger btn-sm mb-3" type="submit" name="tickettodelete" value="{{ ticket['id'] }}"><i class="fas fa-times-circle fa-sm text-white-50"></i> Supprimer</button></div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Informations du ticket</p>
                                        </div>
                                        <div class="card-body">
                                            <form action="{{ url_for('Fticket.change_status') }}" method="post" enctype="multipart/form-data">
                                                
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="user"><strong>Employer</strong><br></label><input disabled class="form-control" type="text" id="user" placeholder="{{ ticket['user'] }}" name="user"></div>
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label" for="user"><strong>Status</strong><br></label>
                                                        {% if ticket['status'] == "En attente" %}
                                                        <select class="form-select" name="status">
                                                            <optgroup>
                                                                <option value="" selected disabled hidden>En attente</option>
                                                                <option value="encours">En cours</option>
                                                                <option value="effectue">Effectué</option>
                                                            </optgroup>
                                                        </select>
                                                        {% elif ticket['status'] == "En retard" %}
                                                        <select class="form-select" name="status" disabled>
                                                            <optgroup>
                                                                <option value="encours" selected disabled hidden>En retard</option>
                                                            </optgroup>
                                                        </select>
                                                        {% elif ticket['status'] == "En cours" %}
                                                        <select class="form-select" name="status">
                                                            <optgroup>
                                                                <option value="" selected disabled hidden>En cours</option>
                                                                <option value="effectue">Effectué</option>
                                                            </optgroup>
                                                        </select>
                                                        {% elif ticket['status'] == "Fini" %}
                                                        <select class="form-select" name="status" disabled>
                                                            <optgroup>
                                                                <option value="" selected disabled hidden>Effectué</option>
                                                            </optgroup>
                                                        </select>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="mb-3"><label class="form-label" for="objet"><strong>Objet</strong></label><input disabled class="form-control" type="text" id="objet" placeholder="{{ ticket['objet'] }}" name="objet"></div>
                                                <div class="mb-3"><label class="form-label" for="description"><strong>Description</strong></label><textarea disabled class="form-control" type="text" id="description" placeholder="{{ ticket['description'] }}" name="description"></textarea></div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" name="ticketidtochange"value="{{ ticket['id'] }}"><i class="fas fa-save fa-sm text-white-50"></i> Mettre à jour</button></div> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2022 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}