{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<body id="page-top">
    <div id="wrapper">
        {% include './includes/nav.html' %}
                <div class="container-fluid">
                    {% include "includes/alert.html" %}
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{ url_for('static', filename=session['profilepic']) }}" width="160" height="160">
                                    <hr>
                                    <form class="user" action="{{ url_for('Fprofile.change_photo') }}" method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <input class="form-control" type="file" name="file_change"></input></div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-exchange-alt fa-sm text-white-50"></i> Changer la photo</button></div>
                                    </form>
                                    
                                </div>
                            </div>
                            {% if isKey %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Génération de clé de création de compte</h6>
                                </div>
                                <div class="card-body">
                                    <form action="{{ url_for('Fprofile.generatekey') }}" method="post">
                                        <div class="small"><label class="form-label mb-3" for="signature"><strong>Clé</strong><br></label><textarea readonly class="form-control mb-3" id="generatekey" rows="3" name="generatekey" style="overflow:auto;resize:none">{{ session['keygenerate'] }}</textarea></div>
                                        <div class="small"><button class="btn btn-primary btn-sm mb-3" type="submit"><i class="fas fa-undo fa-sm text-white-50"></i> Générer</button></div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Paramètres de l'utilisateur</p>
                                        </div>
                                        <div class="card-body">
                                            <form action="{{ url_for('Fprofile.change_info') }}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_username"><strong>Nom d'utilisateur</strong></label><input class="form-control" type="text" id="new_username" placeholder="{{ session['username'] }}" name="new_username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_email"><strong>Numéro de téléphone</strong><br></label><input class="form-control" type="telephone" id="new_telephone" placeholder="{{ session['telephone'] }}" name="new_telephone"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_lastname"><strong>Nom</strong></label><input class="form-control" type="text" id="new_lastname" placeholder="{{ session['lastname'] }}" name="new_lastname"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_firstname"><strong>Prénom</strong><br></label><input class="form-control" type="text" id="new_firstname" placeholder="{{ session['firstname'] }}" name="new_firstname"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_email"><strong>Email</strong><br></label><input class="form-control" type="email" id="new_email" placeholder="{{ session['email'] }}" name="new_email"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save fa-sm text-white-50"></i> Sauvegarder</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Paramètres de contact</p>
                                        </div>
                                        <div class="card-body">
                                            <form action="{{ url_for('Fprofile.change_adresse') }}" method="post">
                                                <div class="mb-3"><label class="form-label" for="new_address"><strong>Adresse</strong></label><input class="form-control" type="text" id="new_address" placeholder="{{ session['adresse'] }}" name="new_address"></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_city"><strong>Ville</strong></label><input class="form-control" type="text" id="new_city" placeholder="{{ session['city'] }}" name="new_city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="new_country"><strong>Pays</strong></label><input class="form-control" type="text" id="new_country" placeholder="{{ session['country'] }}" name="new_country"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save fa-sm text-white-50"></i> Sauvegarder</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Paramètres du mot de passe</p>
                                        </div>
                                        <div class="card-body">
                                            <form action="{{ url_for('Fprofile.change_pswd') }}" method="post">
                                                <div class="mb-3"><label class="form-label" for="newpswd"><strong>Nouveau mot de passe</strong></label><input class="form-control" type="password" id="newpswd" placeholder="" name="newpswd"></div>
                                                <div class="mb-3"><label class="form-label" for="newpswd_confirm"><strong>Confirmer le mot de passe</strong></label><input class="form-control" type="password" id="newpswd_confirm" placeholder="" name="newpswd_confirm"></div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save fa-sm text-white-50"></i> Sauvegarder</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ItzMyManager 2023 Fait avec Bootstrap</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}