{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

	
    <div>
        {% include "includes/alert.html" %}
        <div class="container">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;../static/img/dogs/image2.jpeg&quot;);"></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Créer un compte !</h4>
                                </div>
                                <form class="user" action="{{ url_for('Fauth.register') }}" method="post" autocomplete="off" enctype="multipart/form-data">
                                    <div class="row mb-3"><span>Informations <b>*</b></span>
                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="lastname" placeholder="Nom" name="lastname"></div>
                                        <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="firstname" placeholder="Prénom" name="firstname"></div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="username" placeholder="Nom d'utilisateur" name="username"></div>
                                        <div class="col"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Adresse Email" name="email"></div>
                                    </div>
                                    <div class="row mb-3"><span style="padding-right: 12px;padding-left: 12px;">Adresse <b>*</b></span>
                                        <div class="col"><input class="form-control form-control-user" type="text" id="adresse" aria-describedby="adresse" placeholder="Rue" name="adresse"></div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="city" placeholder="Ville" name="city"></div>
                                        <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="country" placeholder="Pays" name="country"></div>
                                    </div>
                                    <div class="row mb-3"><span style="padding-right: 12px;padding-left: 12px;">Sécurité <b>*</b></span>
                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="password" placeholder="Mot de passe" name="password"></div>
                                        <div class="col-sm-6 mb-3"><input class="form-control form-control-user" type="password" id="password_repeat" name="password_repeat" placeholder="Répéter le mot de passe" name="password_repeat"></div>
                                        <div class="col"><input class="form-control form-control-user" type="text" id="keygen" aria-describedby="keygen" placeholder="Clé de création de compte" name="keygen"></div>
                                    </div>
                                    <div class="row"><span style="padding-right: 12px;padding-left: 12px;">Photo de profile</span>
                                    </div>
                                    <input class="form-control" type="file" name="file" style="margin-bottom: 16px;" />
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Enregistrer le compte</button>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="{{ url_for('Fauth.forgot_password') }}">Mot de passe oublié?</a></div>
                                <div class="text-center"><a class="small" href="{{ url_for('Fauth.login') }}">Vous avez déjà un compte? Connexion!</a></div>
                                <hr>
                                <div class="row mb-3"><span style="padding-right: 12px;padding-left: 12px;"><b>*</b> Veuillez remplire les champs obligatoire !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}